<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.practice.mapper.ProductMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into products(category, name, price, storage)
        values (#{category}, #{name}, #{price}, #{storage})
    </insert>

    <resultMap id="product" type="org.mybatis.practice.entity.Product">
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="queryById" resultMap="product">
        select *
        from products
        where id = #{id}
    </select>
</mapper>
