<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.practice.mapper.ShoppingCartMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into shopping_carts(user_id)
        values (#{userId})
    </insert>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="id">
        insert into shopping_cart_items(shopping_cart_id, product_id, count)
        values (#{shoppingCartId}, #{productId}, #{count})
    </insert>

    <select id="queryByUserId" resultMap="shoppingCartMap">
        select s.id,
               s.user_id,
               s.created_at,
               sci.id         itemId,
               sci.product_id,
               sci.created_at itemCreatedAt,
               sci.count,
               p.id           productId,
               p.category     productCategory,
               p.name         productName,
               p.price        productPrice,
               p.storage      productStorage
        from shopping_carts s
                 left join shopping_cart_items sci on s.id = sci.shopping_cart_id
                 left join products p on sci.product_id = p.id
        where s.user_id = #{userId}
    </select>

    <resultMap id="shoppingCartMap" type="org.mybatis.practice.entity.ShoppingCart">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
        <collection property="items" ofType="org.mybatis.practice.entity.ShoppingCartItem" notNullColumn="product_id">
            <id property="id" column="itemId"/>
            <result property="productId" column="product_id"/>
            <result property="createdAt" column="itemCreatedAt"/>
            <result property="count" column="count"/>
            <association property="product" javaType="org.mybatis.practice.entity.Product">
                <id property="id" column="productId"/>
                <result property="category" column="productCategory"/>
                <result property="name" column="productName"/>
                <result property="price" column="productPrice"/>
                <result property="storage" column="productStorage"/>
            </association>
        </collection>
    </resultMap>

    <update id="updateCount">
        update shopping_cart_items
        set count=#{param2}
        where id = #{param1}
    </update>

    <delete id="deleteItem">
        delete
        from shopping_cart_items
        where id = #{itemId}
    </delete>
</mapper>
